*{
  margin: 0;
  padding:0 ;
}
.footer {
  background: #111;
  padding: 50px 0;

}

.footer-inner {
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.footer-brand {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-text {
  color: #e6e6e6;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-copy {
  font-size: 14px;
  color: #cfcfcf;
  border-top: 1px solid #333;
  padding-top: 12px;
  margin-top: 18px;
}

/* Mobile */
@media (max-width: 600px) {
  .footer-brand {
    font-size: 24px;
  }
}
